.admin-table{
    padding: 30px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 100%;
    margin: 30px 0px;

}
.admin-table-header {
    text-align: left;
    font-size: 25px;
}

.admin-table-data-cell {
    padding: 5px 0px;
    font-size: 20px;
}
