@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset Tailwind's base styles to match browser defaults */
  body {
    @apply font-sans; /* Ensure the default font family is applied */
  }

  /* Remove Tailwind's base resets for headings */
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, a, ul, ol, li, table, th, td {
    all: revert;
  }
}

body {
  min-height: 100vh;
  font-family: sans-serif, arial;
  padding: 0 20px;
  background-image: url('assets/todopic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-wrapper {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 500px;
  font-family: sans-serif, arial;
  margin-top: 30px;
}

.heading {
  display: flex;
  justify-content: center;
}

.error-message {
  font-color: red;
  font-weight: bold;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: grid;
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 500px;
}

.item-row {
  margin-bottom: 20px;
 }

.form-label {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.form-input {
  cursor: text;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
}

.form-button {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #7cb46b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}

:hover.form-button {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(27, 84, 15, 0.5);
}

.loader-wrapper {
  text-align: center;
  height: 50px;
  padding: 10px;
  margin: 10px;
}